.Base_layout {
  background: #333;
  color: #ccc;
  font-family: Hack, monospace;
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  & > section {
    position: relative;
    flex: 1 1 auto;
  }
  & > footer {
    flex: 0 0 auto;
  }
}